@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: row;
}

#in_line_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

#header_buttons {
  display: flex;
  flex-direction: row;
}

#header_buttons a {
  margin-left: 20px;
}

#hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 790px) {
  #hamburger {
      display: block;
  }

  #header_buttons {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      text-align: center;
  }

  #header_buttons.open {
      display: flex;
  }

  #header_buttons a {
      margin: 10px 0;
  }

  #in_line_header {
      flex-direction: column;
      align-items: center;
  }
}
