#cadastrar_cliente{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

#cadastrar_cliente div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    justify-content: center
}

#cadastrar_cliente input {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 40%;
    text-align: center;
}

#cadastrar_cliente select {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 40%;
}

#cadastrar {
    position: fixed;
    bottom: 45%;
    right: 5%;
}

@media (max-width: 790px) {

    #cadastrar {
        position: fixed;
        top: 8%;
        left: 80%;
        transform: translate(-50%, -50%);
        height: 40px;
        font-size: large;
    }

}